/* Rainbow colors with black borders */
#red {
  background-color: #f00;
  border: 1px solid #000;
}

#orange {
  background-color: #ffa500;
  border: 1px solid #000;
}

#yellow {
  background-color: #ff0;
  border: 1px solid #000;
}

#green {
  background-color: #00bc3f;
  border: 1px solid #000;
}

#blue {
  background-color: #06f;
  border: 1px solid #000;
}

#indigo {
  background-color: #8a2be2;
  border: 1px solid #000;
}

#violet {
  background-color: #d300c9;
  border: 1px solid #000;
}

/* Wrapper styles */
.wrapper {
  display: flex;
  height: 400px; /* Adjust height as needed */
}

/* Common style for all rainbow elements */
.color {
  flex: 1;
  height: 100%;
}
